/* 设置整个聊天视图透明 */
ChatView {
    background-color: transparent;
}

/* 设置滚动区域视口透明 */
ChatView > QScrollArea {
    background-color: transparent;
}

#chat_user_name{
    color:rgb(153,153,153);
    font-size: 14px;
}
/*-------------------清理按钮----------------------*/
#clear_toolButton{
    border: none;
    background-color: #eaeaea;
    border-radius: 12px;
    padding-left: 2px;
}
/*-------------------发送按钮----------------------*/

#send_btn{
    background-color: rgba(85, 200, 255,90%);
    font-size: 16px; /* 设置字体大小 */
    font-weight: bold;
    border: none;
    border-radius: 15px; /* 设置圆角 */
}

/*-------------------send_widget----------------------*/

#question_textEdit{
    background-color: rgba(255,255,255,0);
}
#button_widget{
    background-color: rgba(255,255,255,0);
}