QToolButton#play_add_ToolBtn{
    border-image: url(:/TabIcon/Res/tabIcon/play-add-gray.svg);
}
QToolButton#play_add_ToolBtn:hover{
    border-image: url(:/TabIcon/Res/tabIcon/play-add-blue.svg);
}
QToolButton#like_ToolBtn{
    border-image: url(:/Res/playbar/collect.svg)
}
QToolButton#like_ToolBtn:hover{
    border-image: url(:/TabIcon/Res/tabIcon/collect-blue.svg);
}
QToolButton#more_ToolBtn{
    border-image: url(:/Res/playbar/more.svg);
}
QToolButton#more_ToolBtn:hover{
    border-image: url(:/Res/playbar/more-blue.svg);
}
QLabel{
    font-family: "楷体";
    background-color: rgba(255, 0, 0, 0);
    border-radius: 12px;
}
QLabel:hover{
    color:#2291e6;
}
QLabel#coverLab{
    background-color: rgba(255, 0, 0, 0);
    border-radius: 12px;
    margin:0px;
    padding:0px;
}
QLabel#nameLab{
    font-size: 16px;
    color:black;
}
QLabel#singerLab{
    font-size: 14px;
    color: #808080;
}
QWidget#listWidget{
    border-radius: 12px;
}
QWidget#listWidget:hover{
    background-color:#e8eafb;
}