QWidget *{
    background-color: rgba(255,255,255,0);
}
/*--------------------classify_widget------------------------------*/

QWidget#classify_widget > QToolButton {
    color:white;
    border-radius: 15px;
    icon-size:20px 20px;
}

QToolButton#recommend_toolButton {
    margin:3px;
    background-color: #44a2ff;
}
QToolButton#recommend_toolButton:hover {
    margin: 0px 3px 6px 3px;
}

QToolButton#ranking_list_toolButton {
    margin: 3px;
    background-color: #ffa2c1;
}
QToolButton#ranking_list_toolButton:hover {
    margin: 0px 3px 6px 3px;
}

QToolButton#classify_toolButton {
    margin: 3px;
    background-color: #feb154;
}
QToolButton#classify_toolButton:hover {
    margin: 0px 3px 6px 3px;
}

QToolButton#scene_music_toolButton {
    margin: 3px;
    background-color: #8c38d8;
}
QToolButton#scene_music_toolButton:hover {
    margin: 0px 3px 6px 3px;
}

QToolButton#music_quality_toolButton {
    margin: 3px;
    background-color: #0a0a0a;
}
QToolButton#music_quality_toolButton:hover {
    margin: 0px 3px 6px 3px;
}