QLabel#video_name_label{
    font-size:14px;
    color: black;
}
QLabel#video_name_label:hover{
    color: #26A1FF;
}
QLabel#video_author_label{
    font-size:12px;
    color: #808080;
}
QLabel#video_author_label:hover{
    color: #26A1FF;
}