QToolButton{
    background-color: rgba(255,255,255,0);
}
QToolButton#play_add_toolButton{
    border-image: url(':/Res/tabIcon/play-add-gray.svg');
}
QToolButton#play_add_toolButton:hover{
    border-image: url(':/Res/tabIcon/play-add-blue.svg');
}
QToolButton#like_toolButton{
    border-image: url(':/Res/playbar/collect.svg')
}
QToolButton#like_toolButton:hover{
    border-image: url(':/Res/tabIcon/collect-blue.svg');
}
QToolButton#comment_toolButton{
    border-image: url(':/Res/playbar/more.svg');
}
QToolButton#comment_toolButton:hover{
    border-image: url(':/Res/playbar/more-blue.svg');
}
QLabel#song_label{
    font-size: 15px;
    color:black;
}
QLabel#song_label:hover{
    color:#26A1FF;
}
QLabel#singer_label{
    font-size: 13px;
    color: #808080;
}
QLabel#singer_label:hover{
    color:#26A1FF;
}