QLabel#song_label{
    font-size:14px;
    color: black;
}
QLabel#song_label:hover{
    color: #26A1FF;
}
QLabel#singer_label{
    font-size:12px;
    color: #808080;
}
QLabel#singer_label:hover{
    color: #26A1FF;
}