
/*--------------------operation_widget------------------------------*/
QToolButton#collect_play_toolButton{
    color: white;
    border: none;
    border-radius: 17px;
    padding-left: 13px;
    background-color:#269dff;
}
QToolButton#collect_play_toolButton:hover{
    background-color:#2085d9;
}
QToolButton#test_toolButton{
    color: white;
    border: none;
    border-radius: 17px;
    padding-left: 13px;
    background-color:#269dff;
}
QToolButton#test_toolButton:hover{
    background-color:#2085d9;
}
QToolButton#collect_download_toolButton{
    border: none;
    border-radius: 17px;
    background-color:#e2e5ff;
}
QToolButton#collect_download_toolButton:hover{
    background-color:#dadeff;
}

/*--------------------small_widget------------------------------*/
QWidget#small_widget{
    border: 1px solid #b4bcff;
    border-radius:15px;
}
QWidget#small_widget > QFrame{
    border:none;
    background-color:#dadeff;
}

QWidget#small_widget > QToolButton {
    background-color: transparent;
}
QToolButton#collect_share_toolButton {
    border-image:url(":/Res/titlebar/share-gray.svg");
}
QToolButton#collect_share_toolButton:hover {
    border-image:url(":/Res/titlebar/share-blue.svg");
}

QToolButton#collect_batch_toolButton {
    border-image:url(":/Res/titlebar/batch-gray.svg");
}
QToolButton#collect_batch_toolButton:hover {
    border-image:url(":/Res/titlebar/batch-blue.svg");
}

QToolButton#collect_zhuanji_toolButton {
    border-image:url(":/Res/titlebar/zhuanji-gray.svg");
}
QToolButton#collect_zhuanji_toolButton:hover {
    border-image:url(":/Res/titlebar/zhuanji-blue.svg");
}

QToolButton#collect_sort_toolButton {
    border-image:url(":/Res/titlebar/sort-gray.svg");
}
QToolButton#collect_sort_toolButton:hover {
    border-image:url(":/Res/titlebar/sort-blue.svg");
}

QLineEdit#search_lineEdit {
     border-radius: 12px;
     padding-left: 5px;
     background-color: #d1e8f6;
     border:1px solid #6fafa7;
     font-size: 16px;
 }

QLineEdit#search_lineEdit:hover {
    background-color: #bcddfa;
}

/**************content_widget*************/
QLabel#prompt_label{
    color: #afafaf;
}
QPushButton#search_pushButton{
    border: 1px solid #1eb8ff;
    border-radius: 17px;
    color: #1eb8ff;
}
