QPushButton{
    font-size: 15px;
    color:#808080;
    border: none;
    background-color: rgba(255,255,255,0);
}
QPushButton:hover{
    color: #3AA1FF;
}
QPushButton:checked{
    font-weight: bold;
    border-radius: 17px;
    background-color: #e1d2d2;
    color: black;
}
