#Search {
    background-color: transparent;
}

QWidget#small_widget * {
    font-family: 'TaiwanPearl';
}

QWidget#classify_widget > QPushButton {
    font-family: 'TaiwanPearl';
    background-color: transparent;
    font-size: 16px;
    border: none;
    padding-right: 20px;
}

QWidget#classify_widget > QLabel {
    background-color: transparent;
    border: none;
    padding-right: 20px;
}

QWidget#classify_widget > QPushButton:checked {
    font-weight: bold;
    font-size: 19px;
    color: #26A1FF;
}

QWidget#classify_widget > QPushButton:hover {
    color: #26A1FF;
}

QStackedWidget QToolButton {
    font-family: 'TaiwanPearl';
    font-size: 13px;
}

QStackedWidget QToolButton:hover {
    color: #26A1FF;
}

QToolButton {
    background-color: transparent;
}