QToolButton{
    background-color: #e2e5ff;
    border:none;
    border-radius: 17px;
}
QToolButton:hover {
    background-color: #dadeff;
}
QToolButton#batch_toolButton{
    background-color: #e2e5ff;
    border:none;
    border-radius: 17px;
    padding-left: 10px;
}

QToolButton#batch_toolButton:hover {
    background-color: #dadeff;
}
/*--------------------QLineEdit------------------------------*/
QLineEdit{
    border:1px solid #6fafa7;
    border-radius: 12px;
    background-color: rgba(255,255,255,0);
    padding-left: 10px;
    font-size: 16px;
}
QLineEdit:hover{
    background-color: rgba(255,255,255,0);
}

QLabel:hover{
    color: #3fb1ef;
}