QWidget#ranking_list_widget{
    border:none;
    border-image: url(:/MusicRepository/Res/musicrepo/rank.png);
}
QWidget#singer_widget{
    border:none;
    border-image: url(:/MusicRepository/Res/musicrepo/singer.png);
}
QWidget#classify_widget{
    border:none;
    border-image: url(:/MusicRepository/Res/musicrepo/classify.png);
}