/*******menu_widget****************/
QWidget#menu_widget > QToolButton{
    border: none;
    border-radius: 6px;
    padding: 5px;

}
QWidget#menu_widget > QToolButton:hover{
    background-color: #E2EAF5;
}
QWidget#menu_widget > QToolButton:checked {
    background-color: #DADADA;
    font: bold;
}
QToolButton#download_toolButton{
    margin :-1px;
}
QLabel#subscribe_label{
    color: gray;
    margin-bottom: 2px;
}
/*******classify_widget****************/
QWidget#classify_widget > QToolButton{
    background-color: #D1D5F6;
    border-radius: 18px;
}
QWidget#classify_widget > QToolButton:hover{
    color: #26A1FF;
}
QToolButton#refresh_toolButton{
    color: black;
}
QToolButton#refresh_toolButton:hover{
    color: #26A1FF;
}

/*******tab_widget****************/

