#PurchasedMusic{
    background-color: transparent;
}
QLabel#title_label {
    border:none;
    font-size:25px;
    font-weight:bold;
}
/*--------------------guide_widget------------------------------*/
QWidget#guide_widget QPushButton {
    color:black;
    font-size:16px;
    border: none;
    padding: 0px;
    margin: 0px;
}
QWidget#guide_widget QPushButton:checked {
    color:#26a1ff;
    font-size:18px;
    font-weight:bold;
}
QWidget#guide_widget QPushButton:hover {
    color:#26a1ff;
}
