QWidget#stackedWidget{
    background-color:red;
}
QWidget#classify_widget > QPushButton{
    background-color: rgba(255,255,255,0);
    font-size: 15px;
    border: none;
    padding-right: 20px;
}
QWidget#classify_widget > QLabel{
    background-color: rgba(255,255,255,0);
    border: none;
    padding-right: 20px;
}
QWidget#classify_widget > QPushButton:checked{
    font-weight: bold;
    font-size: 20px;
    color: #26A1FF;
}
QStackedWidget QToolButton:hover{
    color: #26A1FF;
}