#chat_bg{
    border: none;
    background: transparent;
}

#chat_user_name{
    color:rgb(153,153,153);
    font-size: 14px;
}
/*-------------------发送按钮----------------------*/

#send_btn{
    background-color: rgba(85, 200, 255,90%);
    font-size: 16px; /* 设置字体大小 */
    font-weight: bold;
    border: none;
    border-radius: 15px; /* 设置圆角 */
}