#SongList{
    background-color: transparent;
}
QToolButton{
    font-size: 13px;
    background-color: #dee5ea;
    border: none;
    border-radius: 17px;
    color: black;
}
QToolButton:hover{
    color: #3AA1FF;
}
QToolButton#all_toolButton{
    background-color: rgba(255,255,255,0);
    border: 1px solid #e3e3e3;
}
QToolButton#all_toolButton:hover{
    border: 1px solid #3AA1FF;
    color: #3AA1FF;
}