#SongList{
    background-color: transparent;
}
QToolButton{
    font-size: 13px;
    background-color: #c1e4ef;
    border: none;
    border-radius: 17px;
    color: black;
}
QToolButton:hover{
    color: #3AA1FF;
}
QToolButton#all_toolButton{
    color: #9d9d9d;
    background-color: transparent;
    border: 1px solid #83b7ea;
}
QToolButton#all_toolButton:hover{
    border: 1px solid #3AA1FF;
    color: #3AA1FF;
}