QPushButton{
    font-size: 13px;
    color:black;
    border: none;
    background-color: transparent;
}
QPushButton:hover{
    color: #3AA1FF;
}
QPushButton:checked{
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #b6d7e5;
    color: #333333;
}