QWidget#videoblock{
    padding-left: 0px;
    margin-left: 0px;
}
QToolButton{
    background-color: transparent;
    color: #848585;
    font-size: 12px;
}
QLabel{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
}