QMenu {
    border-radius: 10px;
    margin: 5px;
    padding: 10px 5px 10px 5px;
}

QMenu::separator { /* 菜单子控件separator，定义菜单项之间的分隔线 */
    height: 1px;
    background-color: transparent;
    margin: 2px; /* 距离菜单边界2px */
}

QLabel {
    background-color: transparent;
    font-size: 13px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    color: black;
}

QLabel:hover {
    background-color: rgba(203, 229, 238, 0.98);
    color: #3AA1FF;
}

QLabel#titleLab {
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

QLabel#titleLab:hover {
    background-color: transparent;
}