/*******classify_widget****************/
QWidget#classify_widget > QToolButton{
    background-color: #a0cfe3;
    border-radius: 18px;
}
QWidget#classify_widget > QToolButton:hover{
    color: #26A1FF;
}
/*QToolButton#all_classify_toolButton{*/
/*    background-color: #eaeaea;*/
/*}*/
/* 组合父控件和子控件的ID，提高特定性 */
QWidget#classify_widget > QToolButton#all_classify_toolButton {
    border: 1px solid #a0cfe3;
    background-color: transparent;
}

