/*--------------------title_widget------------------------------*/
QLabel#use_label{
    color: #676767;
}
QProgressBar#progressBar{
    border: none;
    border-radius: 4px;
    background-color: #d1d2ff;
}
/*--------------------guide_widget------------------------------*/
QWidget#guide_widget QPushButton {
    color:black;
    font-size:15px;
    border: none;
}
QWidget#guide_widget QPushButton:checked {
    color:#26a1ff;
    font-size:16px;
    font-weight:bold;
}
QWidget#guide_widget QPushButton:hover {
    color:#26a1ff;
}
QPushButton#uploaded_song_pushButton{
    width: 85px;
}
QPushButton#downloaded_song_pushButton:hover{
    width: 90px;
}
QPushButton#uploading_song_pushButton{
    width: 70px;
}
QPushButton#downloading_song_pushButton:hover{
    width: 75px;
}