/*--------------------scrollArea------------------------------*/
/* 设置QScrollArea本身透明 */
QScrollArea#scrollArea {
    background-color: transparent;
}

/* 单独设置视口（viewport）透明 */
QScrollArea#scrollArea::viewport {
    background-color: transparent;
}

/* 设置内容区域透明（scrollAreaWidgetContents） */
QScrollArea#scrollArea > QWidget > QWidget#scrollAreaWidgetContents {
    background-color: transparent;
}
/*--------------------menu_scrollArea------------------------------*/
/* 设置QScrollArea本身透明 */
QScrollArea#menu_scrollArea {
    background-color: transparent;
}

/* 单独设置视口（viewport）透明 */
QScrollArea#menu_scrollArea::viewport {
    background-color: transparent;
}

/* 设置内容区域透明（scrollAreaWidgetContents） */
QScrollArea#menu_scrollArea > QWidget > QWidget#menu_scrollAreaWidgetContents {
    background-color: transparent;
}
QLabel#menu_find_music_label,QLabel#menu_myMusic_label{
    color: #2d5a46;
}

QScrollArea#menu_scrollArea QToolButton{
    padding-left:20px;
    border-radius:10px;
    border:none;
}
QScrollArea#menu_scrollArea QToolButton:hover{
    background-color:#c0c0c0;
    font-size: 14px;
}
QScrollArea#menu_scrollArea QToolButton:checked{
    background-color:#268cff;
    font-size: 14px;
}

/*--------------------play_widget------------------------------*/
QWidget#play_widget {
    background-color:transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
QWidget#song_info_widget{
    background-color:transparent;
}
QWidget#play_widget QToolButton {
    background-color: transparent;
    border: none;
}
QWidget#play_widget QLabel {
    background-color: transparent;
    border: none;
}
QWidget#play_widget QLabel#singer_text {
    color: #7e7e7e;
}
QWidget#play_widget QPushButton {
    border-radius:5px;
    border:1px solid #6fafa7;
    background-color:transparent;
}
QWidget#play_widget QPushButton:hover {
    border:1px solid #00a6ff;
    color: #00a6ff;
}
QWidget#play_widget QPushButton:checked {
    background-color: qlineargradient(spread:pad,x1:0, y1:0,x2:1, y2:0,stop:0 rgb(105, 225, 255), stop:1 rgba(255, 182, 193, 255)); /* 淡粉色 */
}
QToolButton#volume_toolButton{
    background-color:transparent;
}
QToolButton#circle_toolButton{
    border-image:url(':/Res/playbar/list-loop-gray.svg');
}
QToolButton#circle_toolButton:hover{
    border-image:url(':/Res/playbar/list-loop-blue.svg');
}
QSizeGrip#sizegrip{
    background-color:transparent;
    border-image:url(':/Res/playbar/bottom-mark.svg');
}

/*--------------------QSlider------------------------------*/
/*QSlider {*/
/*    background-color: rgba(0, 255, 190, 30);*/
/*}*/
/*QSlider::groove:horizontal {*/
/*    border: 1px inset #c3e0c3;*/
/*    height: 8px;*/
/*    !*background-color: qlineargradient(spread:reflect, x1:0.500364, y1:0.0561364, x2:0.5, y2:0.517045, stop:0 rgba(168, 164, 168, 250), stop:1 rgba(232, 232, 232, 255));*!*/
/*    background-color: #eafffa;*/
/*    border-radius: 4px;*/
/*}*/
/*QSlider::handle:horizontal {*/
/*    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.50565, fy:0.500409, stop:0 rgba(0, 0, 0, 255), stop:0.361582 rgba(0, 146, 146, 255), stop:0.649718 rgba(255, 255, 255, 255), stop:1 rgba(0, 177, 181, 255));*/
/*    border: 1px solid #5c5c5c;*/
/*    width: 14px;*/
/*    margin: -4px 0;!* top and bottom | left and right *!*/
/*    border-radius: 8px;*/
/*}*/
/*QSlider::sub-page:horizontal {*/
/*    border: 1px solid #999999;*/
/*    border-radius: 4px;*/
/*    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(7,208,255, 255), stop:1 rgba(231,80,229, 255));*/
/*}*/
/*滑块的样式*/
QSlider::groove:horizontal {
    border: 1px solid #AEE1FD;
    background: #AEE1FD;
    height: 4px;
    border-radius: 2px;
    padding-left:0px;
    padding-right:0px;
}

/*滑块经过的颜色:前面的颜色*/
QSlider::sub-page:horizontal {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 pink, stop:1 rgba(176,226,249, 255));
    border: 1px solid #AEE1FD;
    height: 4px;
    border-radius: 2px;
}

QSlider::add-page:horizontal {
    background: #EAEAEA;
    border: 0px solid #EAEAEA;
    height: 4px;
    border-radius: 2px;
}
QSlider::handle:horizontal
{
    background: #AEE1FD;

    width: 10px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 5px;
}

QSlider::handle:horizontal:hover {
    background: #AEE1FD;

    width: 12px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 5px;
}
/*-------------------滚动区域滚动条----------------------*/
.QScrollBar:vertical {
    border: 0px solid rgb(173,216,230);
    border-radius:4px;
    background-color: rgb(173,216,230);
    width: 10px;
    margin: 20px 0px 20px 0px;
}
.QScrollBar:vertical:hover {
    border: 1px solid rgb(173,216,230);
    border-radius:4px;
    background-color: rgb(173,216,230);
    width: 10px;
    margin: 20px 0px 20px 0px;
}
/*--滑块---*/
.QScrollBar::handle:vertical {
    background-color: rgb(95, 159, 211);
    border-radius: 4px;
}
.QScrollBar::handle:vertical:hover {
    background-color: rgb(80, 143, 206);
}
/*---箭头---*/
.QScrollBar::up-arrow:vertical, .QScrollBar::down-arrow:vertical {
    background: none; /* 确保没有箭头 */
}
/*---空白区域---*/
.QScrollBar::add-page:vertical, .QScrollBar::sub-page:vertical {
    background: none; /* 防止长按时的背景色 */
}
.QScrollBar::sub-line:vertical, .QScrollBar::add-line:vertical {
    background: none;
}