/*--------------------guide_widget------------------------------*/
QPushButton {
    color:black;
    font-size:16px;
    border: none;
    padding: 0px;
    margin: 0px;
}
QPushButton:checked {
    color:#26a1ff;
    font-size:18px;
    font-weight:bold;
}
QPushButton:hover {
    color:#26a1ff;
}