QLabel#title_label{
    font-size:14px;
    color: black;
}
QLabel#title_label:hover{
    color: #26A1FF;
}
QLabel#desc_label{
    font-size:12px;
    color: #808080;
}
QLabel#desc_label:hover{
    color: #26A1FF;
}