QWidget#widget_ QPushButton{
    font-size: 12px;
    background-color: #d4eef1;
    border-radius: 15px;
    border: none;
}
QWidget#widget_ QPushButton:hover{
    background-color: #b6ebf5;
}

QWidget#title_widget QPushButton{
    background-color: transparent;
    border: none;
    color:#333333;
    font-size: 13px;
    margin-bottom: 3px;
}
QWidget#title_widget QPushButton:hover{
    color:#26A1FF;
}
QWidget#title_widget QPushButton:checked{
    background-color: #b6d7e5;
    color:#333333;
    border-radius: 10px;
    font-weight: bold;
}

QWidget#title_widget QPushButton#more_pushButton1,
QPushButton#more_pushButton2,
QPushButton#more_pushButton3,
QPushButton#more_pushButton4,
QPushButton#more_pushButton5 {
    background-color: transparent;
    font-size: 12px;
}
QPushButton#more_pushButton1:hover,
QPushButton#more_pushButton2:hover,
QPushButton#more_pushButton3:hover,
QPushButton#more_pushButton4:hover,
QPushButton#more_pushButton5:hover {
    color:#26A1FF;
}

QLineEdit{
    border:1px solid #6fafa7;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 5px;
    font-size: 17px;
}